<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Vuex</h1>
                <app-result></app-result>
                <app-another-result></app-another-result>0
                <hr>
                <app-counter></app-counter>
                <app-another-counter></app-another-counter>
                <hr>
                <input type="text" v-model="value">
                <p>{{ value }}</p>
            </div>
        </div>
    </div>
</template>

<script>
    import Counter from './components/Counter.vue';
    import AnotherCounter from './components/AnotherCounter.vue';
    import Result from './components/Result.vue';
    import AnotherResult from './components/AnotherResult.vue';
    import * as types from './store/types';

    export default {
        computed: {
          value: {
              // getter and setter methods for computed properties triggered by v-model="value"
              get() {
                  return this.$store.getters[types.VALUE];
              },
              set(value) {
                  this.$store.dispatch(types.UPDATE_VALUE, value);
              }
          }
        },
        methods: {
          updateValue(event) {
              this.$store.dispatch(types.UPDATE_VALUE, event.target.value);
          }
        },
        components: {
            appCounter: Counter,
            appAnotherCounter: AnotherCounter,
            appResult: Result,
            appAnotherResult: AnotherResult,
        }
    }
</script>

